/* .ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
} */

main {
  margin-bottom: 100px;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.pl-5 {
  padding-left: 1.25rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.form-inline {
  display: flex;
  justify-content: left;
  align-items: center;
}

.form-inline-item {
  margin-right: 0.5rem;
}
